Start Programming with Python

In [3]:
print("Hello, World!")

Hello, World!

variable

In [4]:
x = 5
y = "John"
print(x)
print(y)

5
John

variable

In [6]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

Duplicate

In [7]:
mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c']

calculate the area

In [10]:
# Calculate the area 
width = 50
height = 10
area = width * height
print(area)

500

String

In [12]:
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)
#CELL:
first_name = "John"
last_name = "Doe"
full_name = f"{first_name} {last_name}"
print(full_name)
#CELL:
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)

John Doe
John Doe
John Doe

User Input

In [13]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
full_name = first_name + " " + last_name
print(full_name)

sabilar Rahman

String to int

In [14]:
first_number = input("First number: ")
second_number = input("Second number: ")

result = int(first_number) + int(second_number)
print(result)

10

list

In [3]:
mylist = [1, 2, 3, 4, 5]
print(mylist[1])

2

replace list

In [9]:
mylist =["lione", "two", "three", "four", "five"]

mylist[0]= "one"
print(mylist)

['one', 'two', 'three', 'four', 'five']

In [12]:
mylist =["lione" ,"tiger", "three", "four", "five"]

mylist.append("six")
mylist.insert(1, "two")
print(mylist)

['lione', 'two', 'tiger', 'three', 'four', 'five', 'six']

loops

In [14]:
numbers = [1, 2, 3, 4, 5]
for iterator in numbers:
    print(iterator)

1
2
3
4
5

In [20]:
x = 0

while x < 10:
    print(f'{x} is not 10')
    x += 1
    print(x)

0 is not 10
1
1 is not 10
2
2 is not 10
3
3 is not 10
4
4 is not 10
5
5 is not 10
6
6 is not 10
7
7 is not 10
8
8 is not 10
9
9 is not 10
10

Tuples and Sets

In [21]:
my_tupple = ("apple", "banana", "cherry")

print(my_tupple[1])

banana

In [24]:
mylist = ["apple", "banana", "cherry" ,"apple", "banana", "cherry"]

myset = set(mylist)

print(myset)

{'apple', 'banana', 'cherry'}

Function

In [31]:
def my_function(name):
    print(f'Hello from a function {name}')

    my_function("Sabilar")